@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply font-sans text-gray-900 antialiased;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-sans leading-tight;
  }
}

@layer utilities {
  .animate-blob {
    animation: blob 7s infinite;
  }
  
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

@keyframes blob {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(1.1) translate(10%, 10%);
  }
  66% {
    transform: scale(0.9) translate(-10%, 10%);
  }
  100% {
    transform: scale(1);
  }
}